td {text-align:center;}

.mon {color:silver;text-indent:0px;}
.tue {color:silver;text-indent:20px;}
.wed {color:silver;text-indent:30px;}
.thu {color:silver;text-indent:40px;}
.fri {color:silver;text-indent:50px;}
.sat {color:silver;text-indent:60px;}
.sun {color:silver;text-indent:70px;}